:root {
  --primary-main-background: hsl(233, 47%, 7%);
  --primary-card-background: hsl(244, 38%, 16%);
  --primary-accent: hsl(277, 64%, 61%);

  --neutral-main-heading: hsl(0, 0%, 100%);
  --neutral-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --neutral-stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-main-background);
}
.card {
  display: flex;
  height: 60%;
  width: 70%;
  background-color: var(--primary-card-background);
}
.content {
  margin: 2rem 3rem 2rem 3rem;
  padding-right: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-heading {
  color: var(--neutral-main-heading);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.heading-accent {
  color: var(--primary-accent);
  display: inline;
}
.main-paragraph {
  color: var(--neutral-main-paragraph);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.statics {
  display: flex;
  justify-content: space-between;
  line-height: 0.5rem;
  margin-bottom: 0.5rem;
}

.Stats {
  color: var(--neutral-main-heading);
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.stat-heading {
  color: var(--neutral-stat-headings);
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.desktop-image {
  height: 100%;
  width: 50%;
  background-color: rgba(128, 13, 128, 0.89);
  z-index: 10;
}

.image {
  background-image: url(../images/image-header-desktop.jpg);
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  z-index: 5;
}
